@font-face {
    font-family: Poppins400;
    src: url(./assets/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins600;
    src: url(./assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: Poppins700;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: Poppins900;
    src: url(./assets/fonts/Poppins-Black.ttf);
}
@font-face {
    font-family: SourceSansPro400;
    src: url(./assets/fonts/source-sans-pro/SourceSansPro-Regular.otf);
}
@font-face {
    font-family: SourceSansPro600;
    src: url(./assets/fonts/source-sans-pro/SourceSansPro-Semibold.otf);
}
@font-face {
    font-family: SourceSansPro700;
    src: url(./assets/fonts/source-sans-pro/SourceSansPro-Bold.otf);
}
@font-face {
    font-family: SourceSansPro900;
    src: url(./assets/fonts/source-sans-pro/SourceSansPro-Black.otf);
}

:root {
    /* Plate */
    --white: #F9F7F7;
    --grey: #DBE2EF;
    --blue: #3f72af;
    --dark_blue: #112d4e;
    --red: #d62828;
    --orange: #fb8500;
    --yellow: #ffb703;

    /* Gradiant */
    --gradient: linear-gradient(90deg,  #112D4E, #3f72af, #112D4E);
    --gradient3: linear-gradient(to right,  #112D4E, #3f72af);
    --gradient2: linear-gradient(90deg,#d62828, #fb8500, #ffb703);

    /* Shadow */
    --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    /* Fonts */

    --section-one-subtitles: 40px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    color: var(--blue);
    line-height: 1.7;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: SourceSansPro700,sans-serif;
    font-weight: 700;
}

button, input, textarea, select {
    border: none;
    background-color: transparent;
    font-family: Poppins400, sans-serif ;
}

body {
    font-family: Poppins400, sans-serif;
    margin: auto;
    overflow-x: hidden;
}

.blur-div-blue,
.blur-div-yellow
 {
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    position: absolute;
    filter: blur(290px);
    z-index: -100;
}

.blur-div-blue {
    left: 10%; 
    bottom: 25%;
    background-color: var(--blue); 
}

.blur-div-yellow {
    right: 10%; 
    top: 25%; 
    background-color: var(--yellow); 
}


/* Header */

header {
    width: 100%;
    background-color: transparent;
    position: fixed;
    z-index: 5;
    transition: all 0.3s;
}

header.scrolled {
    background-color: var(--white);
    box-shadow: var(--shadow);
    transition: all 0.3s;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1em 0;
    transition: all 0.5s;
    margin: auto;
}

.navbar.scrolled {
    height: 90%;
    transition: all 0.5s;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    align-items: center;
}

.navbar-lista.activeState {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    left: 0;
    background-color: var(--white);
    height: 100vh;
    width: 280px;
    top: 0;
    padding-top: 8em;
    box-shadow: var(--shadow);
}

.navbar-lista.activeState li {
    border-bottom: 1px solid var(--grey);
    width: 90%;
    margin: 0 auto;
}
.navbar-lista.activeState .nav-a {
    color: var(--dark_blue);
    width: 100% !important;
}

.navbar-lista.activeState button {
    margin: 0 auto;
    width: 90%;
}

.logo {
    height: 4em;
}


.logo img {
    height: 4em;
    align-self: center;
}

.navbar-lista {
    font-family: Poppins400, sans-serif;
    display: flex;
    gap: 1em;
    align-items: center;
    list-style: none;
}

.navbar-lista > li > a {
    color: var(--white);
    cursor: pointer;
    height: 100%;
    width: 100%;
    position: relative;
    padding: .5em 0;
}

.services-nav {
    position: relative;
}

.services-navigation {
    position: absolute;
    background-color: var(--white);
    box-shadow: var(--shadow);
    padding-top: .5em;
    padding-bottom: .5em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    z-index: 6;
    border-radius: 10px;
}

.services-navigation li {
    width: 100% !important;
    height: 2em;
}

.services-navigation li a {
    cursor: pointer;
    display: flex;
    width: 100% !important;
    padding: 0 0.6em;
    color: var(--dark_blue);
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}
.services-navigation li:hover {
    background-color: var(--grey);
}

.services-navigation a:before, 
.services-navigation a:after {
    display: none;
}

/* Navbar list animation */

.hb {
    width: auto;
    display: none;
    z-index: 5;
  }

header nav ul li a:before, header nav ul li a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: var(--white);
    transition: all 0.3s;
}

header nav ul li a:before
{
    left: 0px;
    top: 0px;
}

header nav ul li a:after
{
    right: 0px;
    bottom: 0px;
}

header nav ul li a:hover:before, header nav ul li a:hover:after
{
    opacity: 1;
    width: 100%;
}



/*  */

.nav-logo.sidebar {
    position: absolute;
    left: 1em;
    z-index: 7;
}

.navbar-lista > li > a.scrolled {
    color: var(--dark_blue);
}

header nav ul li a.scrolled:before, header nav ul li a.scrolled:after {
    background-color: var(--dark_blue);
}

.button-class {
    width: 13rem;
    height: 3rem;
    font-size: 1em;
    background-image: var(--gradient2);
    border-radius: 0px 20px;
    cursor: pointer;
    transition: border-radius 0.5s;
    text-transform: capitalize;
    border: none;
    position: relative;
}

.button-class a {
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.button-class > a > span {
    font-size: .7em;
}

.button-class:hover {
    border-radius: 20px 0;
    transition: all 0.5s;
}

/* Section One */

.section-one {
    background: url(./assets/images/bg6.png), url(./assets/images/bg5.png), var(--gradient);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    height: 800px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-one:after {
    content: "";
    background-image: url(./assets/images/section-one-white-background.png);
    background-size: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 0;
}

.section-one-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.section-one-title > h1 {
    font-family: SourceSansPro900, sans-serif;
    font-size: 3.8em;
    color: var(--white);   
}

.section-one-title > p {
    color: var(--white);
    font-family: Poppins400, sans-serif;
}

.section-one-compimg {
    z-index: 1;
    position: relative;
    transform: translate(1em, 1em);
    left: 5em;
    animation: image_animation 4s linear infinite;
}

@keyframes image_animation {
    0%, 100% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-3deg);
    }
}

.max-width {
    max-width: 1200px !important;
}

.flex {
    display: flex;
}

.flex > * {
    width: 50%;
}

.section-one-buttons {
    display: flex;
    gap: 5%;
}

.section-one-buttons > button {
    display: inline-block;
    width: 10em;
    background-image: var(--gradient2);
    border-radius: 0 20px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    z-index: 1;
    transition: border-radius 0.5s;
    position: relative;
    height: 3rem;
}
.section-one-buttons > button:hover {
    border-radius: 20px 0;
    transition: all 0.5s;
}

.section-one-buttons > button > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--white);
}
.section-one-buttons > button.usluge-button {
    background-image: none;
    border: 2px solid var(--orange);
}

.section-one-buttons > button.usluge-button:hover {
    background-image: var(--gradient2);
    border: none;
}

/* Section Two */

.section-two {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5em;
    padding-top: 7em;
}

.section-two h1 {
    font-size: var(--section-one-subtitles);
}

.section-two-title {
    text-align: center;
    font-family: SourceSansPro400, sans-serif;
    color: var(--dark_blue);
}

.section-two-line {
    display: inline-block;
    width: 150px;
    position: relative;
}

.section-two-line:before {
    content: "";
    background-image: var(--gradient2);
    background-size: 200%;
    width: 45px;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.section-two-line:after {
    content: "";
    background-image: var(--gradient2);
    background-size: 200%;
    width: 95px;
    height: 6px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 15px;
}

.section-two > div{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.our-speciallization-articles {
    display: grid; 
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.our-speciallization-articles > article {
    display: flex;
    flex-direction: column;
    gap: 0em;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    border-left: 1px solid rgba(0,0,0,.05);
    border-right: 1px solid rgba(0,0,0,.05);
    padding-bottom: 1em;
    transition: transform 0.2s, box-shadow 0.2s;
}

.our-speciallization-articles > article.growArticle {
    transform: translateY(-1em);
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: var(--shadow);
}


.our-speciallization-articles-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.our-speciallization-articles-title h2  {
    font-size: 1.4rem;
    color: var(--blue);
    margin: 0;
}
.our-speciallization-articles-title h2.hoverState {
    color: var(--dark_blue);
}

.our-speciallization-articles-title button > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}


.our-speciallization-articles-image > img {
    max-width: 50%;
}

.our-speciallization-articles-image {
    text-align: center;
}

.our-speciallization-articles-title > button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 1em;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: background-image 5s ease-in-out;
}

.our-speciallization-articles-title > button.backgroundHover {
    background-image: var(--gradient2);
    transition: all 5s ease-in-out;
}

/* Section Three */

.section-three {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5em;
    padding-top: 5em;
    position: relative;
}

.section-three-right {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
}

.section-three-title > h1 {
    font-size: var(--section-one-subtitles);
    font-family: SourceSansPro700, sans-serif;
    color: var(--dark_blue);
}

.section-three-text {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.section-three-text > button {
    width: 15em;
    height: 3rem;
    background-image: var(--gradient2);
    border-radius: 0 20px;
    border: none;
    cursor: pointer;
    text-align: left;
    transition: border-radius 0.5s;
    font-size: 1em;
}

.section-three-text button a {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.section-three-text > button:hover {
    border-radius: 20px 0;
    transition: all 0.5s;
}

.section-three-img {
    grid-area: image;
}

.section-three-right {
    grid-area: text;
}
/* Section Four */

.section-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10em;
}

.section-four-title {
    text-align: center;
    margin-bottom: 2em;
}

.section-four-title > h1 {
    font-size: var(--section-one-subtitles);
    font-family: SourceSansPro700, sans-serif;
    color: var(--dark_blue);
}

.section-four-bottom {
    display: flex;
    gap: 1em;
}

.section-four-article-image {
    width: 80px;
    height: 80px;
    background-image: var(--gradient3);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 80px;
    box-shadow: 0 2px 15px rgba(251, 133, 0, 0.5);
    overflow-y: hidden;
}

.section-four-inner-articles {
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex: 1;
}

.section-four-inner-articles > article {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.section-four-article-text {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.section-four-article-text > h2 {
    color: var(--dark_blue);
    font-size: 1.5em;
}

.section-four-image {
    flex: 1;
}

.iconAnimation {
    display: block;
    animation: animation 0.6s;
}

@keyframes animation{
    0%, 100% {
        display: block;
        transform: translate(0);
    }
    33% {
        transform: translateY(-5em);
        display: none;
    }

    66% {
        display: none;
        transform: translateY(10em);
    }
}

/* Pricing Section */

.pricing {
    display: block;
    padding-bottom: 10em;
}

.pricing > div {
    margin: auto;
}

.pricing-title {
    text-align: center;
    display: flex;
    gap: 1em;
    margin-bottom: 3em;
    flex-direction: column;
    align-items: center;
}

.pricing-title > h1 {
    font-size: var(--section-one-subtitles);
    color: var(--dark_blue);
}

.pricing-section {
    margin: auto;
    display: flex;
    gap: 2em;
}

.pricing-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    box-shadow: var(--shadow);
    padding: 3em;
    flex: 1 1 350px;
    border-radius: 10px;
}

.pricing-article.hovered {
    background-image: var(--gradient2);
}

.pricing-description {
    display: flex;
    flex-direction: column;
    gap: .6em;
    margin-bottom: 1em;
}

.pricing-description > li {
    display: flex;
    gap: .5em;
    font-family: Poppins400, sans-serif;
}

.pricing-description.hovered > li {
    color: var(--white);
}

.pricing-button {
    cursor: pointer;
    background-image: transparent;
    border-radius: 0 20px;
    padding: 0.8em 0;
    border: 1px solid var(--orange);
    transition: color .3s ease-in, border-radius .5s !important;
}

.pricing-button:hover {
    border-radius: 20px  0;
    background-color: var(--white);
    transition: border-radius .5s !important;
}

.pricing-button.hovered {
    border: 1px solid var(--white) !important;
}

.pricing-button-a.hovered {
    transition: color .3s ease-in;
    color: var(--white);
}

.pricing-button a {
    width: 100%;
    height: 100%;
    padding: 0.8em 2.5em;
    font-size: 1.3em;
    color: var(--orange);
}

.pricing-button a:hover {
    color: var(--orange) !important;
}

.plan-title h2 {
    font-size: 30px;
    color: var(--dark-blue);
    text-align: center;
}

.plan-title.hovered {
    color: var(--white);
}

.pricing-plan-price > h2 {
    color: var(--orange);
    font-size: 60px;
    font-family: SourceSansPro700, sans-serif;
    transition: color .3s ease-in;
}

.pricing-plan-price.hovered > h2 {
    color: var(--white);
    transition: color .3s ease-in;
}

.check-icon.hovered {
    color: var(--white) !important;
}

/* Footer */

footer {
    display: flex;
    gap: 1em;
    flex-direction: column;
    background: url(./assets/images/bg6.png), url(./assets/images/bg5.png), var(--gradient);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5em;
}

.footer-top {
    display: flex;
    margin: auto;
    gap: 20em;
    justify-content: space-between;
    padding-bottom: 5em;
}

.footer-top > div {
    width: 50% !important;
} 

.footer-arrow {
    transition: transform 0.5s;
}

.footer-arrow.hovered {
    transform: translateX(3px);
    transition: transform 0.5s;
}

.footer-logo p {
    max-width: 80%;
}

.Informacije > ul {
    display: flex;
    flex-direction: column;
    gap: .6em;
}

.Informacije > ul  > li {
    display: flex;
    align-items: center;
    gap: .6em;
}

.Informacije > ul > li > a,
.Informacije > ul > li > h2 {
    color: var(--white);
}

.Informacije {
    display: flex;
    gap: 5em;
}

.footer-bottom > p {
    max-width: 1200px;
    margin: auto;
    padding: 1em;
    color: var(--white);
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.footer-logo > img {
    max-width: 6em;
}

.footer-logo > p {
    color: var(--white);
}

/* To Top */

.to-top {
    display: block;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 5;
    padding: 1em 1.2em;
    background-color: var(--orange);
    border-radius: 10px;
}

/* Client Card */

.section-five {
    padding-bottom: 5em;
    padding-top: 5em;
    margin-bottom: 10em;
    background-color: var(--grey);
}

.section-five div{
    margin: 0 auto;
}

.clients-title h1 {
    font-size: var(--section-one-subtitles);
    color: var(--dark_blue);
}

.clients-title {
    text-align: center;
    padding-bottom: 3em;
}

.inner-carousel {
    display: flex;
    transition: transform 2s ease-in-out;
}

.carousel {
    overflow: hidden;
    position: relative;
}

.client-card {
    min-width: 1200px !important;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.client-card > div {
    width: 60%;
}

.bottom-quote {
    display: block;
    float: right;
}

.client-des {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.client-des > span {
    font-family: SourceSansPro600, sans-serif;
    font-size: 1.2rem;
    color: var(--dark-blue);
}

.dots {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.dot {
    cursor: pointer;
}

.dot.active {
    color: var(--orange) !important;
}

.nav-client {
    display: flex;
    justify-content: center;
    max-width: 30%;
}



/* Privacy Policy */

.privacy-policy-article {
    margin: auto;
    padding: 5rem 0;
}


.first-section:after {
    content: "";
    background-image: url(./assets/images/white-background.png);
    background-size: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 0;
}

.first-section {
    background: url(./assets/images/bg6.png), url(./assets/images/bg5.png), var(--gradient);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-section-content h1 {
    font-size: 55px;
    text-align: center;
    color: var(--white);
}

.first-section-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.first-section-path {
    display: flex;
    gap: 1em;
    border-radius: 50px;
    background-image: var(--gradient2);
    align-items: center;
    padding: 0.5em 1em;    
    justify-content: center;
}

.first-section-path h4 {
    color: var(--white);
    font-family: Poppins400, sans-serif;
}


/* Contact Form */


.contact-us {
    margin: auto;
    display: flex;
    align-items: center;
    padding: 5em 0;
}

.contact-us-image,
.contact-us-outform {
    flex: 1 1 50% !important;
}

.contact-us-outform {
    height: 100%;
}

.contact-us-image {
    animation: image_animation 4s linear infinite;
}

.contact-us-outform form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 1.5rem;
    height: 100%;
}

.contact-us-outform form div {
    display: flex;  
    height: 2.5em;
}

.contact-us-outform form div input,
.contact-us-outform form div textarea {
    width: 100%;
    height: 100%;
    font-size: 1em; 
    padding: 1em;
}

.contact-us-outform form div textarea{
    resize: none;
    border-radius: 1.5rem !important;
}

.contact-us-textarea-div {
    height: 15rem !important;
}

.contact-us-outform form div select,
.contact-us-outform form div input,
.contact-us-outform form div textarea {
    box-shadow: var(--shadow);
    border-radius: 30px;
    outline: none;
    transition: all 0.5s ;
}

.contact-us-outform form div select:focus,
.contact-us-outform form div input:focus,
.contact-us-outform form div textarea:focus {
    border: 1px solid var(--blue);
    box-shadow: none;
    transition: all 0.5s ;
}

.contact-us-outform form div select option{
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.contact-us-outform form div select {
    padding-left: 1em;
    cursor: pointer;
    width: 50%;
    height: 100%;
    font-size: 0.9em;
}

.submit-button button {
    width: 40% !important; 
    background-image: var(--gradient2);
    border-radius: 0px 20px;
    transition: border-radius 0.5s;
    font-size: 1em;
}

.submit-button button input {
    box-shadow: none !important;
    cursor: pointer;
    color: var(--white);
    padding: 0 !important;
    border: none !important;
}

.submit-button button:hover {
    border-radius: 20px 0;
    transition: all 0.5s;
}

.submit-button.clicked{
    transform: scale(0.8);
    transition: transform 0.5s ease-in-out;
}

.submit-button {
    justify-self: flex-start;
    transition: transform 0.5s ease-in-out;
}

.successfully-sent {
    position: fixed;
    width: 20rem;
    height: 7rem;
    z-index: 5;
    top: 15%;
    right: 0;
    background-color: var(--dark_blue);
    display: flex;
    gap: 2rem;
    padding: 1em 2em;
}

.successfully-sent-check {
    align-self: center;
}

.successfully-sent-message h2 {
    color: var(--white);
}

.successfully-sent-message p {
    font-size: .8em;
}

.successfully-sent-close {
    cursor: pointer;
}

.successfully-sent.closed {
    display: none;
}

/* faq-section */

.faq-section {
    background-image: linear-gradient(84deg,  #1a3e68, #3f72af, #112D4E);
    padding: 5em 0;
}

.faq-section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.faq-section-title {
    text-align: center;
    margin-bottom: 3em;
}

.faq-section-bottom .faq-section-image > img{
    width: 60%;
    display: block;
    animation: image_animation 4s linear infinite;
}

.faq-section-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq-section-title  h1 {
    font-size: var(--section-one-subtitles);
    color: var(--white) !important;
}

.faq-section-bottom {
    display: flex;
}

.faq-section-title > p {
    margin-top: 1em;
    color: var(--white);
    font-size: 1.2em;
}

.faq-section-bottom div {
    flex: 1;
}

.faq-arrow.rotate-faq-arrow {
    transform: rotate(-180deg);
    transition: transform .5s;
}

.faq-arrow {
    transform: rotate(0deg);
    transition: transform .5s;
}


.faq-section-content {
    display: block;
}

.inner-faq-content {
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 5px;
    overflow: hidden;
    padding: 3px;
}

.rotate-faq-arrow {
    color: var(--white) !important;
}

.faq-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1em;
}

.faq-title > h4 {
    font-family: Poppins400, sans-serif;
    font-weight: 200;
    color: var(--dark_blue);
}

.faq-title.active-faq-title {
    background-image: var(--gradient2);
}

.faq-article {
    border-bottom: 1px solid var(--grey);
}

.faq-title.active-faq-title > h4 {
    color: var(--white);
}

.faq-des {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s cubic-bezier(0,1,0,1);
}

.faq-des strong {
    color: var(--dark_blue);
}

.faq-des a {
    text-decoration: underline;
}

.active-faq {
    max-height: 1000px;
    overflow: hidden;
    height: auto;
    transition: max-height .8s ease-in-out;
}


.faq-content-active {
    padding: 1em;
    transition: padding-top .5s, padding-bottom .5s;
}

.faq-content {
    padding: 0 1em;
    transition: padding-top .5s, padding-bottom .5s;
}

/* Width 1400px */

@media (max-width: 1400px) {
    .max-width {
        max-width: 80% !important;
    }
    .footer-top {
        gap: 10em;
    }
    .Informacije {
        gap: 1em;
    }
    .client-card {
        min-width: 100% !important;
    }
    .blur-div-blue,
.blur-div-yellow
 {
    width: 30%;
}
}

/* Width 1200px */

@media (max-width: 1200px) {
    .footer-top {
        gap: 1em;
    }
    .pricing-section {
        display: grid;
        grid-template-columns: repeat(auto-fit, 380px);
        place-content: center;
    }
    .our-speciallization-articles {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        place-content: center;
    }
} 


/* Width 1000px */

 @media (max-width: 1000px) {
    .section-four-bottom {
        flex-direction: column;
    }
    .section-four-image {
        max-width: 100%;
        align-self: center;
    }
    .section-three .content {
        display: grid;
        grid-template-areas: 
        "text"
        "image";
    }
    .section-three-right,
    .section-three-img {
        width: 100%;
        margin: auto;
    }
    .section-three .content {
        margin: auto;
    }
    .section-three-line{
        width: 150px !important;
    }
    .section-three-title {
        justify-content: flex-start;
    }
    .footer-top {
        display: grid;
        gap: 3em;
    }
    .footer-top div {
        width: 100% !important;
    }
    .Informacije {
        justify-content: space-between;
    }
    .section-four-inner-articles {
        flex-direction: row;
    }
    .section-one > div > div {
        width: 50%;
    }
    .section-one-title h1 {
        font-size: 3em;
    }
    h1 {
        font-size: 2.5em !important;
    }
    h2 {
        font-size: 2em;
    }
    .pricing-plan-price h2 {
        font-size: 42px !important;
    }
    .contact-us-outform form {
        width: 95%;
    }
    .blur-div-blue {
        bottom: 10%;
    }
    .blur-div-yellow {
        top: 10%;
    }
    .blur-div-blue,
.blur-div-yellow
 {
    width: 35%;
    filter: blur(200px);
}
.faq-section-bottom {
    flex-direction: column;
    gap: 1em;
}
.section-one {
    background-position: left;
    height: 700px;
}
.section-one:after {
    background-size: 150%;
}
} 

/* Width 788px */

 @media (max-width: 788px) {
    .section-one  > div {
        flex-direction: column;
        align-items: center;
        padding-top: 15em;
    }
    .section-one > div > div {
        width: 100%;
        display: flex;

    }
    .section-one-compimg {
        left: 0;
        justify-self: center;
    }
    .section-one:after {
        background-position: bottom;
    }
    .client-card > div {
        width: 100%;
        padding: 1em 1em;
    }
    .section-four-inner-articles {
        flex-direction: column;
    }
    .navbar-lista {
        display: none;
    }
    .hb {
        display: block;
    }
    .contact-us {
        flex-direction: column;
    }
    .contact-us-outform {
        width: 100%;
    }
    .section-one-title button {
        align-self: flex-start;
    }
    .services-navigation {
        position: static;
        gap: .5em;
        font-size: .95em !important;
    }
    .services-navigation li {
        width: 100%;
    }
    .contact-us-outform form {
        width: 100%;
    }
    .blur-div-blue,
.blur-div-yellow
 {
    width: 40%;
}
.first-section {
    height: 300px;
}
.contact-us-image img {
    width: 50%;
    display: block;
    margin: auto;
}
.iconAnimation {
    animation: none;
}

} 
 

/* Width 500px */

@media (max-width: 500px) {
    .max-width {
        max-width: 90% !important;
    }
    h1 {
        font-size: 2em !important;
    }
    .section-one-title h1 {
        font-size: 42px !important;
    }
    h2 {
        font-size: 1.5em;
    }
    .hb {
        width: 35px;
        height: 35px;
    }
    .section-one > div {
        padding-top: 10em;   
    }
    .to-top {
        padding: .5em .8em;
    } 
    .blur-div-blue,
.blur-div-yellow
 {
    width: 45%;
    filter: blur(150px);
}
.first-section-path h4 {
    font-size: .8em;
}
.section-one {
    padding: 10em 0;
    height: 800px;
}
}

/* Width 375px */

@media (max-width: 375px) {
    .max-width {
        max-width: 92% !important;
    }
    .footer-logo {
        align-items: flex-start;
        text-align: left;
    }
    .Informacije {
        flex-direction: column;
        gap: 2em;
    }
    .pricing-section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        place-content: center;
    }
    .section-one-title h1 {
        font-size: 42px !important;
    }
    .our-speciallization-articles {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .pricing-plan-price h2 {
        font-size: 42px !important;
    }
}