@font-face {
    font-family: Poppins400;
    src: url(./assets/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins600;
    src: url(./assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: Poppins700;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: Poppins900;
    src: url(./assets/fonts/Poppins-Black.ttf);
}
@font-face {
    font-family: SourceSansPro400;
    src: url(./assets/fonts/source-sans-pro/SourceSansPro-Regular.otf);
}
@font-face {
    font-family: SourceSansPro600;
    src: url(./assets/fonts/source-sans-pro/SourceSansPro-Semibold.otf);
}
@font-face {
    font-family: SourceSansPro700;
    src: url(./assets/fonts/source-sans-pro/SourceSansPro-Bold.otf);
}
@font-face {
    font-family: SourceSansPro900;
    src: url(./assets/fonts/source-sans-pro/SourceSansPro-Black.otf);
}

:root {
    /* Plate */
    --white: #F9F7F7;
    --grey: #DBE2EF;
    --blue: #3f72af;
    --dark_blue: #112d4e;
    --red: #d62828;
    --orange: #fb8500;
    --yellow: #ffb703;
    /* Gradiant */
    --gradient: linear-gradient(90deg,  #112D4E, #3F72AF, #112D4E);
    --gradient3: linear-gradient(to left,  #112D4E, #3F72AF);
    --gradient2: linear-gradient(90deg,#d62828, #fb8500, #ffb703);

    /* Shadow */
    --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    color: var(--blue);
    line-height: 1.7;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Source Sans Pro,sans-serif;
    font-weight: 700;
}

button {
    border: none;
    background-color: transparent;
}

body {
    font-family: Poppins400, sans-serif;
}

/* Header */

header {
    height: 7em;
    width: 100%;
    background-color: transparent;
    position: fixed;
    z-index: 5;
    transition: all 0.3s;
}

header.scrolled {
    background-color: var(--white);
    height: 5.4em;
    box-shadow: var(--shadow);
    transition: all 0.3s;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    padding: 1em 0;
    transition: all 0.5s;
}

.navbar.scrolled {
    padding: .2em 0;
    transition: all 0.5s;
}

.logo {
    height: 5em;
}

.logo img {
    height: 5em;
    align-self: center;
}

.navbar-lista {
    font-family: Poppins600, sans-serif;
    display: flex;
    gap: 1em;
    font-size: 1.3em;
    align-items: center;
}

.navbar-lista > li > a {
    color: var(--white);
    cursor: pointer;
}

.navbar-lista > li > a.scrolled {
    color: var(--dark_blue);
}

.button-class > button {
    padding: .5em 1em;
    font-family: Poppins600, sans-serif;
    font-size: 1em;
    background-image: var(--gradient2);
    color: var(--white);
    border-radius: 0px 30px;
    cursor: pointer;
    border: none;
    transition: border-radius 0.5s;
}

.button-class > button > span {
    font-family: Poppins400, sans-serif;
    font-size: .8em
}

.button-class > button:hover {
    border-radius: 30px 0;
    transition: all 0.5s;
}

/* Section One */

.section-one {
    background: url(./assets/images/bg6.png), url(./assets/images/bg5.png), var(--gradient);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    height: 950px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-one:after {
    content: "";
    background-image: url(./assets/images/section-one-white-background.png);
    background-size: contain;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 0;
}

.section-one-title {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.section-one-title > h1 {
    font-family: SourceSansPro900, sans-serif;
    font-size: 3.8em;
    color: var(--white);   
}

.section-one-title > p {
    color: var(--white);
    font-family: Poppins400, sans-serif;
}

.section-one-compimg {
    z-index: 1;
    position: relative;
    transform: translate(1em, 1em);
    left: 5em;
    animation: image_animation 4s linear infinite;
}

@keyframes image_animation {
    0%, 100% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-3deg);
    }
}

.max-width {
    max-width: 1200px;
}

.flex {
    display: flex;
}

.flex > * {
    width: 50%;
}

.section-one-title > button {
    max-width: 10em;
    padding: .7em 1em;
    background-image: var(--gradient2);
    border-radius: 0 30px;
    color: var(--white);
    font-size: 1.2em;
    font-family: Poppins600, sans-serif;
    border: none;
    cursor: pointer;
    z-index: 1;
    transition: border-radius 0.5s;
}
.section-one-title > button:hover {
    border-radius: 30px 0;
    transition: all 0.5s;
}


/* Section Two */

.section-two {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10em;
    padding-top: 7em;
}



.section-two-title {
    text-align: center;
    font-size: 2em;
    font-family: SourceSansPro700, sans-serif;
    color: var(--dark_blue);
}

.section-two-line {
    display: inline-block;
    width: 150px;
    position: relative;
}

.section-two-line:before {
    content: "";
    background-image: var(--gradient2);
    background-size: 200%;
    width: 45px;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.section-two-line:after {
    content: "";
    background-image: var(--gradient2);
    background-size: 200%;
    width: 95px;
    height: 6px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 15px;
}

.section-two > div{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.our-speciallization-articles {
    display: flex; 
    gap: 2em;
}

.our-speciallization-articles > article {
    display: flex;
    flex-direction: column;
    gap: 2em;
    border-radius: 5px;
    padding: 4em 2em 2em 2em;
    transition: transform 0.5s, box-shadow 0.5s;
}

.our-speciallization-articles > article.growArticle {
    transform: scale(1.02);
    transition: transform 1s, box-shadow 0.5s;
    box-shadow: var(--shadow);
}


.our-speciallization-articles-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.our-speciallization-articles-image > img {
    max-width: 50%;
}

.our-speciallization-articles-image {
    text-align: center;
}

.our-speciallization-articles-title > button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 1.1em;
    font-family: SourceSansPro900;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.our-speciallization-articles-title > button.backgroundHover {
    background-image: var(--gradient2);
}

.our-speciallization-articles-title > h2 {
    font-family: SourceSansPro700;
    font-size: 2em;
}

/* Section Three */

.section-three {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15em;
}

.section-three-right {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
}

.section-three-title > h1 {
    font-size: 3em;
    font-family: SourceSansPro700, sans-serif;
    color: var(--dark_blue);
}

.section-three-text {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.section-three-text > button {
    max-width: 15em;
    padding: 0.7em 1em;
    background-image: var(--gradient2);
    border-radius: 0 30px;
    color: var(--white);
    font-size: 1.2em;
    font-family: Poppins600, sans-serif;
    border: none;
    cursor: pointer;
    text-align: left;
    transition: border-radius 0.5s;
}
.section-three-text > button:hover {
    border-radius: 30px 0;
    transition: all 0.5s;
}

/* Section Four */

.section-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15em;
}

.section-four-title {
    text-align: center;
    margin-bottom: 2em;
}

.section-four-title > h1 {
    font-size: 3em;
    font-family: SourceSansPro700, sans-serif;
    color: var(--dark_blue);
}

.section-four-bottom {
    display: flex;
    gap: 1em;
}

.section-four-article-image {
    width: 80px;
    height: 80px;
    background-image: var(--gradient3);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 80px;
    box-shadow: 0 2px 15px rgba(63, 113, 175, 0.712);
}

.section-four-inner-articles {
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex: 1;
}

.section-four-inner-articles > article {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.section-four-article-text {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.section-four-article-text > h2 {
    color: var(--dark_blue);
    font-size: 1.5em;
}

.section-four-image {
    flex: 1;
}

.iconAnimation {
    display: block;
    animation: animation 0.5s;
}

@keyframes animation{
    0%, 100% {
        display: block;
        transform: translate(0);
    }
    33% {
        transform: translateY(-5em);
        display: none;
    }

    66% {
        display: none;
        transform: translateY(10em);
    }
}

/* Pricing Section */

.pricing {
    display: block;
    padding-bottom: 10em;
}

.pricing > div {
    margin: auto;
}

.pricing-title {
    text-align: center;
    display: flex;
    gap: 1em;
    margin-bottom: 3em;
    flex-direction: column;
    align-items: center;
}

.pricing-title > h1 {
    font-size: 3em;
    color: var(--dark_blue);
}

.pricing-section {
    margin: auto;
    display: flex;
    gap: 2em;
}

.pricing-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    box-shadow: var(--shadow);
    padding: 3em;
    flex: 1 1 350px;
    border-radius: 10px;
}

.pricing-article.hovered {
    background-image: var(--gradient2);
}

.pricing-description {
    display: flex;
    flex-direction: column;
    gap: .6em;
    margin-bottom: 1em;
}

.pricing-description > li {
    display: flex;
    gap: .5em;
    font-family: Poppins400, sans-serif;
}

.pricing-description.hovered > li {
    color: var(--white);
}

.pricing-button {
    font-family: Poppins600, sans-serif;   
    font-size: 1em;
    cursor: pointer;
    background-image: transparent;
    color: var(--orange);
    border-radius: 0 20px;
    padding: .8em 2.5em;
    border: 1px solid var(--orange);
    transition: color .3s ease-in, border-radius .5s !important;
}

.pricing-button:hover {
    border-radius: 20px  0;
    background-color: var(--white);
    color: var(--orange) !important;
    transition: border-radius .5s !important;
}

.pricing-button.hovered {
    color: var(--white);
    border: 1px solid var(--white);
    transition: color .3s ease-in;
}

.plan-title h2 {
    font-size: 30px;
    color: var(--dark-blue);
    text-align: center;
}

.plan-title.hovered {
    color: var(--white);
}

.pricing-plan-price > h2 {
    color: var(--orange);
    font-size: 70px;
    font-family: SourceSansPro900, sans-serif;
    transition: color .3s ease-in;
}

.pricing-plan-price.hovered > h2 {
    color: var(--white);
    transition: color .3s ease-in;
}

.check-icon.hovered {
    color: var(--white) !important;
}

/* Footer */

footer {
    display: flex;
    gap: 1em;
    flex-direction: column;
    background: url(./assets/images/bg6.png), url(./assets/images/bg5.png), var(--gradient);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5em;
}

.footer-top {
    display: flex;
    margin: auto;
    gap: 28.5em;
    padding-bottom: 5em;
}

.footer-arrow {
    transition: transform 0.5s;
}

.footer-arrow.hovered {
    transform: translateX(3px);
    transition: transform 0.5s;
}

.Informacije > ul {
    display: flex;
    flex-direction: column;
    gap: .6em;
}

.Informacije > ul  > li {
    display: flex;
    align-items: center;
    gap: .6em;
}

.Informacije > ul > li > a,
.Informacije > ul > li > h2 {
    color: var(--white);
}

.Informacije {
    display: flex;
    gap: 5em;
}

.footer-bottom > p {
    max-width: 1200px;
    margin: auto;
    padding: 1em;
    color: var(--white);
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.footer-logo > img {
    max-width: 6em;
}

.footer-logo > p {
    color: var(--white);
}

.to-top {
    display: block;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 5;
    padding: 1em 1.2em;
    background-color: var(--orange);
    border-radius: 10px;
}